body {
  background: black;
  color: ghostwhite;
}

.GameZone {
  display:none;
  margin-left:auto;
  margin-right:auto;
  max-width: 1060px;
  min-width: 1060px;
}


.Title h2 {
    color: #4D4D4D;
    margin-bottom: 13px;
}

.Title p {
    font-size: 15px;
    margin-bottom: 13px;
}

p a {color: grey;}
p a:hover {color: darkgrey;}

.Tribal {
  Height: 120px;
  margin: 5px;
  border-radius: 8px;
  float: left;
}

button:hover {border-color: white;}

#IntroDiv {display: none;}

#TextBox {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 12px;
  border-radius: 5px;
  margin-left: 100px;
  width: 300px;
  height: 450px;
  text-align: center;
}

/*#TextBox button {
  width: 40%;
}*/

#DetailsBox {
  margin-top: 5px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: small;
  width: 180px;
  border-radius: 5px;
}


.SquarePanel {
  border-style: solid;
  border-color: #4D4D4D;
  border-width: thin;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-radius: 5px;
  margin: 3px;
  margin-top: 5px;
  width: 250px;
  height: 130px;
}

.StatsPanel {
  margin-top: 12px;
  float: left;
}

 .StatsPanel p {
  color: #EAEAEA;
}

 
#BeginEra {  
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-left: 175px;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 75px;
  width: 150px;
  background-image: url(http://i.imgur.com/qEdH0sN.jpg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center; 
  display: block;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(10, 10, 10);
}

#BeginEra:hover {
  border-color: rgb(30, 30, 30);
}

.Upgrade {
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin: 10px;
  width: 80%;
  display: block;
  margin-right: auto !important;
  margin-left: auto !important;
}

.Centered {
  text-align: center;
}

.OOC {
  font-family: sans-serif !Important;
  color: purple !Important;
  font-size: 12px;  
}

.LargerText {
  font-size: larger;    
}
  
#SupplyUpgrades button{
   background-color: rgb(178, 0, 0);
}

#InspirationUpgrades button{
   background-color: rgb(36, 71, 178);
}

#DomainUpgrades button{
  background-color: rgb(207, 166, 0);
}

#IntroDiv button{
  background-color: black;
}

#GripUpgrades button{
  background-color: #4D4D4D;
  width: 48%;
  margin-bottom: 3px;
}

#PurchaseUpgradeButton {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 14px;  
  margin: 10px;
  height: 30px;
  width: 80px;
  background-color: Black;
  display: none;
}

#DiscoveriesBox button {
    display: none;
    width: 98%;
    background-color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: xx-small;
    color: purple;
}
#InventionsBox button {
    display: none;
    width: 98%;
    background-color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: xx-small;
    color: Blue;
}

#AgendaBox button {
    display: none;
    width: 98%;
    background-color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: xx-small;
    color: Green;
}

.CompetitionContainer {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 12px;
  text-align: center;
  border-style: solid;
  border-width: thin;
  border-color: #4D4D4D;
  padding: 5px;
  margin-bottom: 6px;
  width: 300px;
  height: 220px;
  border-radius: 5px;
}
.CompetitionContainer button{
    display: block;
    width: 90%;
    background-color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    color: grey;
}

#EndOfGameResultBox, #EventResultBox, #CompetitionResultBox {
    text-align: center;
}

.HiddenSupplyUpgradeBox > button{display: none;}
.ExpandedSupplyUpgradeBox > h4{display: none;}
.ExpandedSupplyUpgradeBox {
  position: absolute;
  left: 85px;
  top: 88px;
  width: 230px;
  background-color: black;
  border-style: solid;
  border-width: medium;
  border-color: #4D4D4D;
  border-radius: 5px;
}

.HiddenDomainUpgradeBox > button{display: none;}
.ExpandedDomainUpgradeBox > h4{display: none;}
.ExpandedDomainUpgradeBox {
  position: absolute;
  left: 85px;
  top: 225px;
  width: 230px;
  background-color: black;
  border-style: solid;
  border-width: medium;
  border-color: #4D4D4D;
  border-radius: 5px;
}

.HiddenInspirationUpgradeBox > button{display: none;}
.ExpandedInspirationUpgradeBox > h4{display: none;}
.ExpandedInspirationUpgradeBox {
  position: absolute;
  left: 85px;
  top: 365px;
  width: 230px;
  background-color: black;
  border-style: solid;
  border-width: medium;
  border-color: #4D4D4D;
  border-radius: 5px;
}

.HiddenGripUpgradeBox > button{display: none;}
.HiddenGripUpgradeBox > h5{display: none;}
.ExpandedGripUpgradeBox > h4{display: none;}
.ExpandedGripUpgradeBox {
  position: absolute;
  left: 85px;
  top: 500px;
  width: 230px;
  background-color: black;
  border-style: solid;
  border-width: medium;
  border-color: #4D4D4D;
  border-radius: 5px;
}

.HiddenLongTalonUpgradeBox {display: none;}
.HiddenShiningScalesUpgradeBox {display: none;}
.ShownLongTalonUpgradeBox {display: block;}
.ShownShiningScalesUpgradeBox {display: block;}


.VictoryImage {
  width: 90%;
}

.ToolTip {
  display: none;
  border: 1px solid;
  background-color: #4D4D4D;
  font-size: smaller;
  z-index: 100;
  left: 0px;
  width: 200px;
  margin: 10px;
  position: absolute;
  top: 10px;
}

#HunterPanel, #ExplorerPanel, #CrafterPanel, #WarriorPanel, #DetailsBox {
  display:none;
}


#River_Expansion_Intro, #Savanna_Expansion_Intro, #Forest_Expansion_Intro, #Hill_Expansion_Intro {
  display:none;  
}

#ShiningScalesDetails, #LongTalonTribeDetails {
  display:none;
}
