body {
  background: black;
  color: white;
}

.nav li {
  display: inline;
}

.learn-more {
  background-color: #4D4D4D;
  margin-bottom: 30px;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

p a {color: grey;}
p a:hover {color: darkgrey;}

.Title h2 {
    color: #4D4D4D;
    margin-bottom: 13px;
}

.Title p {
    font-size: 15px;
    margin-bottom: 13px;
}

#UpgradeInfoBox{width: 300px;}

#SubmitButtonImg {
  border-width: medium;
  border-radius: 12px;
  border-style: solid;
  border-color: rgb(10, 10, 10);
}

#SubmitButtonImg:hover {border-color: rgb(30, 30, 30);}
