body {
  background: black;
  color: ghostwhite;
}

.GameZone {
  margin-left:auto;
  margin-right:auto;
  max-width: 1060px;
  min-width: 1060px;
}


.Title h2 {
    color: #4D4D4D;
    margin-bottom: 13px;
}

.Title p {
    font-size: 15px;
    margin-bottom: 13px;
}

p a {
    color: grey;
}

.Tribal {
  Height: 120px;
  margin: 5px;
  border-radius: 8px;
  float: left;
}

button:hover {
  border-color: white;
}

#IntroDiv {
    display: none;
}

#TextBox {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 12px;
  border-radius: 5px;
  margin-left: 100px;
  width: 300px;
  height: 450px;
  text-align: center;
}

/*#TextBox button {
  width: 40%;
}*/

#DetailsBox {
  margin-top: 5px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: small;
  width: 180px;
  border-radius: 5px;
  opacity: 0.7;
}

#DetailsBox:hover {
opacity: 1;
}


/*#TextBox::-webkit-scrollbar, #DetailsBox::-webkit-scrollbar {
    width: 12px;
}

#TextBox::-webkit-scrollbar-track, #DetailsBox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(150,150,150,0.3); 
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#TextBox::-webkit-scrollbar-thumb, #DetailsBox::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgba(192,192,192,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}*/

.SquarePanel {
  border-style: solid;
  border-color: #4D4D4D;
  border-width: thin;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-radius: 5px;
  margin: 3px;
  margin-top: 5px;
  width: 250px;
  height: 130px;
}

.StatsPanel {
  margin-top: 12px;
  float: left;
}

 .StatsPanel p {
  color: #EAEAEA;
}

 
#BeginEra {  
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-left: 175px;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 75px;
  width: 150px;
  background-image: url(http://i.imgur.com/qEdH0sN.jpg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center; 
  display: block;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(10, 10, 10);
}

#BeginEra:hover {
  border-color: rgb(30, 30, 30);
}

.Upgrade {
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin: 10px;
  width: 80%;
  display: block;
  margin-right: auto !important;
  margin-left: auto !important;
}

.Centered {
  text-align: center;
}

.OOC {
  font-family: sans-serif !Important;
  color: purple !Important;
  font-size: 12px;  
}

.LargerText {
  font-size: larger;    
}
  
#SupplyUpgrades button{
   background-color: rgb(178, 0, 0);
}

#InspirationUpgrades button{
   background-color: rgb(36, 71, 178);
}

#DomainUpgrades button{
  background-color: rgb(207, 166, 0);
}

#IntroDiv button{
  background-color: black;
}

#GripUpgrades button{
  background-color: grey;
  width: 48%;
}

#PurchaseUpgradeButton {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 14px;  
  margin: 10px;
  height: 30px;
  width: 80px;
  background-color: Black;
  display: none;
}

#DiscoveriesBox button {
    display: none;
    width: 98%;
    background-color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: xx-small;
    color: purple;
}
#InventionsBox button {
    display: none;
    width: 98%;
    background-color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: xx-small;
    color: Blue;
}

#AgendaBox button {
    display: none;
    width: 98%;
    background-color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: xx-small;
    color: Green;
}

.CompetitionContainer {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 12px;
  text-align: center;
  border-style: solid;
  border-width: thin;
  border-color: #4D4D4D;
  padding: 5px;
  margin-bottom: 6px;
  width: 300px;
  height: 220px;
  border-radius: 5px;
}
.CompetitionContainer button{
    display: block;
    width: 90%;
    background-color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    color: grey;
}

#EndOfGameResultBox, #EventResultBox, #CompetitionResultBox {
    text-align: center;
}

.HiddenSupplyUpgradeBox > button{display: none;}
.ExpandedSupplyUpgradeBox > h4{display: none;}
.ExpandedSupplyUpgradeBox {
  position: absolute;
  left: 85px;
  top: 88px;
  width: 230px;
  background-color: black;
  border-style: solid;
  border-width: medium;
  border-color: #4D4D4D;
  border-radius: 5px;
}

.HiddenDomainUpgradeBox > button{display: none;}
.ExpandedDomainUpgradeBox > h4{display: none;}
.ExpandedDomainUpgradeBox {
  position: absolute;
  left: 85px;
  top: 225px;
  width: 230px;
  background-color: black;
  border-style: solid;
  border-width: medium;
  border-color: #4D4D4D;
  border-radius: 5px;
}

.HiddenInspirationUpgradeBox > button{display: none;}
.ExpandedInspirationUpgradeBox > h4{display: none;}
.ExpandedInspirationUpgradeBox {
  position: absolute;
  left: 85px;
  top: 365px;
  width: 230px;
  background-color: black;
  border-style: solid;
  border-width: medium;
  border-color: #4D4D4D;
  border-radius: 5px;
}

.HiddenGripUpgradeBox > button{display: none;}
.HiddenGripUpgradeBox > h5{display: none;}
.ExpandedGripUpgradeBox > h4{display: none;}
.ExpandedGripUpgradeBox {
  position: absolute;
  left: 85px;
  top: 500px;
  width: 230px;
  background-color: black;
  border-style: solid;
  border-width: medium;
  border-color: #4D4D4D;
  border-radius: 5px;
}

